@use "../utilities/variables" as *;

// Navigation
.nav {
  &__list {
    list-style: none;
    color: white;
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
  }
}

// Hero section

.hero {
  &__title {
    font-size: 5.625rem; // 90px
    line-height: 5.625rem;
    color: white;
  }
  &__span {
    color: $color-accent;
  }

  &__text {
    color: white;
    font-size: 1.5rem; // 24px
  }
}

// Section-one + section-two

.section-two {
  &__right {
    text-align: center;
    font-size: 1.5rem;
  }
}

.col__title {
  color: #a59678;
  font-size: 1.875rem; // 30px
  margin-bottom: 0.4em;
}

.section-two__title {
  font-size: 2rem; // 36 px
  color: #a59678;
  margin-bottom: 0.5em;
}

.col__text--no-title {
  margin-top: 4rem;
}
