.col__title {
  color: #a59678;
  font-size: 30px;
  margin-bottom: 0.4em;
}

.section-two__title {
  font-size: 36px;
  color: #a59678;
  margin-bottom: 0.5em;
}

.col__text--no-title {
  margin-top: 4rem;
}
