@use "../utilities/variables" as *;

.hero {
  background-color: #3b4050;

  &__container {
    margin: 0 auto;
    justify-content: space-between;
    padding: 5rem 0;
  }

  &__right,
  &__left {
    width: 40%;
  }

  &__right {
    align-self: end;
  }
}
